<?xml version="1.0"?>
<config>
    <modules>
        <ElderXavier_Massmail>
            <version>0.1.0</version>
        </ElderXavier_Massmail>
    </modules>    
    <admin>
        <routers>
            <massmail>
                <use>admin</use>
                <args>
                    <module>ElderXavier_Massmail</module>
                    <frontName>massmail</frontName>
                </args>
            </massmail>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <massmail module="massmail">
                <title>Mass Mail</title>
                <sort_order>71</sort_order>               
                <children>
                    <send module="massmail">
                        <title>Send Emails</title>
                        <sort_order>0</sort_order>
                        <action>massmail/adminhtml_massmail</action>
                    </send>
                    <edit module="massmail">
                        <title>Edit Template Mails</title>
                        <sort_order>1</sort_order>
                        <action>massmail/adminhtml_massmail/edit</action>
                    </edit>
                </children>
            </massmail>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <massmail>
                            <title>Massmail Module</title>
                            <sort_order>200</sort_order>
                        </massmail>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <massmail>
                    <file>massmail.xml</file>
                </massmail>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <massmail>
                <class>ElderXavier_Massmail_Model</class>
                <resourceModel>massmail_mysql4</resourceModel>
            </massmail>
            <massmail_mysql4>
                <class>ElderXavier_Massmail_Model_Mysql4</class>
                <entities>
                    <massmail>
                        <table>massmail</table>
                    </massmail>
                </entities>
            </massmail_mysql4>
        </models>
        <resources>
            <massmail_setup>
                <setup>
                    <module>ElderXavier_Massmail</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </massmail_setup>
            <massmail_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </massmail_write>
            <massmail_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </massmail_read>
        </resources>
        <blocks>
            <massmail>
                <class>ElderXavier_Massmail_Block</class>
            </massmail>
        </blocks>
        <helpers>
            <massmail>
                <class>ElderXavier_Massmail_Helper</class>
            </massmail>
        </helpers>
    </global>
</config>